<div class="library-search-container">
  <img src="https://img.freepik.com/free-photo/beautiful-milky-way-night-sky_53876-139825.jpg?t=st=1750340231~exp=1750343831~hmac=f6ca2db60d3d134c13c34a90688313544191f7d59232319c9476c6ad861ac19f&w=1380"/>
  <div class="search-menu">
    <input
      placeholder="Введите слово для поиска..."
      [value]="searchTerm()"
      (input)="onSearchInput($event)"
      [disabled]="isLoading()"
    />
    <button class="search-button"
      (click)="searchLibraries()"
      [disabled]="isLoading()"
    >
      {{ isLoading() ? 'Загрузка...' : 'Показать библиотеки' }}
    </button>
  </div>
  @if(error()){
    <div class="error-message">
      {{ error() }}
    </div>
  }
  @if(isLoading()){
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }
  <div class="result-table">
    @for(lib of libraries(); track lib.name){
      <div class="library-item flex" (click)="openLibraryCard(lib)">
        <div class="library-item__item">{{ $index + 1 }}</div>
        <div class="library-item__item">
          @for(wordName of lib.name.split(' '); track wordName){
            @if(wordName.toLowerCase() === inputResult().toLowerCase()){
              <div class="name-word selected">{{ wordName }}</div>
            } @else {
              <div class="name-word">{{ wordName }}</div>
            }
          }
        </div>
        <div class="library-item__item">{{ lib.address }}</div>
      </div>
    }
  </div>
</div>